# Exercícios - banco de dados Chinook

1. Qual é o título do album que tem albumid 67?

In [ ]:
SELECT title FROM albums WHERE albumid = 67;

- Resposta: O titulo é Vault: Def Leppard's Greatest Hits


2. Liste todos os artistas que tem a palavra 'black' no nome

In [ ]:
SELECT * FROM artists WHERE name LIKE '%black%';


3. Liste o nome e o comprimento (em milissegundos) de todas
as faixas que tem comprimento entre 50000 e 70000 milisegundos

In [ ]:
SELECT name, milliseconds FROM tracks WHERE milliseconds BETWEEN 50000 AND 70000;


4. Escreva uma consulta mostrando uma lista de 'billing countries'
da tabela invoice. Os valores não podem se repetir

In [ ]:
SELECT DISTINCT billingcountry FROM invoices;


5. Escreva uma consulta que mostre os Customers (nome completo, customerid e country)
que sejam do Brazil

In [ ]:
SELECT FirstName || ' ' || LastName as NomeCompleto, CustomerId, Country
FROM Customers
WHERE Country = 'Brazil';


6. Escreva uma consulta que mostre todos os Employees que sejam 'Sales Agents'

In [ ]:
SELECT *
FROM Employees
WHERE Title = 'Sales Agents';


7. Liste todas as cidades do Brazil para as quais foram realizadas vendas, exceto
a cidade de São Paulo.

In [ ]:
SELECT DISTINCT BillingCity
FROM invoices
WHERE BillingCountry = 'Brazil' AND BillingCity <> 'São Paulo';


8. Liste o customerid, sem repetições, dos clientes de Brasilia.

In [ ]:
SELECT DISTINCT CustomerId
FROM customers
WHERE City = 'Brasília';

In [ ]:
SELECT DISTINCT CustomerId
FROM invoices
WHERE BillingCity = 'Brasília';


9. Liste o nome de todas as faixas do gênero Rock and Roll

In [ ]:
SELECT Name
FROM tracks
WHERE GenreId = (SELECT GenreId FROM genres WHERE Name = 'Rock And Roll');