# Exercícios - banco de dados Chinook

1. Qual é o albumid do álbum chamado 'Dark Side Of The Moon'?

In [ ]:
SELECT AlbumId
FROM albums
WHERE Title = 'Dark Side Of The Moon';

- 183


2. Liste o título dos álbums e nomes dos artistas que tenham a palavra 'black' no nome

In [ ]:
SELECT Title AS 'Titulo Album', Name AS 'Artista'
FROM albums
INNER JOIN artists USING (ArtistId)
WHERE Name LIKE '%black%';


3. Liste o nome e o comprimento (em milissegundos) de todas
as faixas que tem comprimento entre 50000 e 70000 milisegundos acompanhadas do título do álbum onde elas podem ser encontradas.

In [ ]:
SELECT Name AS 'Nome', Milliseconds as "Comprimento", Title as "Álbum"
FROM tracks
JOIN albums
USING (AlbumId)
WHERE Milliseconds BETWEEN 50000 AND 70000;


4. Escreva uma consulta que mostre os Customers (nome completo, customerid e country)
que tenham nome começando por 'A';

In [ ]:
SELECT FirstName || ' ' || LastName AS "Nome Completo", CustomerId, Country
FROM customers
WHERE FirstName LIKE 'A%';


5. Liste o nome e sobrenome, sem repetições, dos clientes para os quais foram emitidos invoices destinados ao Brasil (BillingCountry = 'Brazil').

In [ ]:
SELECT DISTINCT FirstName, LastName, BillingCountry
FROM customers
JOIN invoices
USING (CustomerId) 
WHERE BillingCountry = 'Brazil';


6. Liste o nome de todas as faixas do gênero Rock and Roll

In [ ]:
SELECT tracks.Name as "Música", albums.Title as 'Álbum', artists.Name as 'Artista', genres.Name as 'Genero'
FROM tracks
JOIN genres
    USING (GenreId)
JOIN albums
    USING (AlbumId)
JOIN artists
    ON albums.ArtistId = artists.ArtistId
WHERE genres.Name = 'Rock'
ORDER BY 
    artists.Name DESC,
    tracks.Name ASC
LIMIT 20;